<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Flashcard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="app">
        <h1>Add New Flashcard</h1>
        <form action="/api/flashcards/add" method="POST" id="add-flashcard-form">
            <div class="form-group">
                <div id="textarea">
                    <% if (error.front) { %>
                        <span class="error"><%= error.front %></span><br>
                    <% } %>
                    <textarea name="front" class="<%= error.front ? 'error-input' : 'success-input' %>" id="input-large"  placeholder="Enter the front text of the card" ><%= front || '' %></textarea>
                </div>
                <div id="textarea">   
                    <% if (error.back) { %>
                        <span class="error"><%= error.back %></span><br>
                    <% } %>
                    <textarea class="<%= error.back ? 'error-input' : 'success-input' %>" id="input-large" name="back"  placeholder="Enter the back text of the card"><%= back || '' %></textarea>
                </div>
            </div>
    
            <div id="navigation">
                <button type="submit" class="button">Add Flashcard</button>
                <a href="/" class="button">Back to Home</a>
            </div>
        </form>        
    </div>
    <%-include('partials/footer')%>
</body>
</html>