<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Flashcards</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="app">
        <div id="flashcard-container">
            <% if (flashcards.length > 0) { %>
                <% flashcards.forEach((card, index) => { %>
                    <div class="flashcard" style="display: none;">
                        <div class="card">
                            <div class="card-front">
                                <p style="text-align:right;"><%= index +1%>/<%= flashcards.length %></p>
                                <p><%= card.front %></p>
                            </div>
                            <div class="card-back">
                                <p><%= card.back %></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No flashcards available.</p>
            <% } %>
        </div>
        <% if (flashcards.length > 0) { %>
            <div id="navigation">
                <button onclick="prevCard()">&#8592; </button>
                <span id="card-number"></span>
                <button onclick="nextCard()">&#8594;</button>
            </div>
        <% } %>
        <a href="/" class="button">Back to Home</a>
    </div>
    <script src="/script.js"></script>
    <%-include('partials/footer')%>
</body>
</html>